:root {
  --primary-color:#4169E1;
  --secondary-color: white;
  --primary-font-size: 24px;
  --secondary-font-size: 18px;
}

body {
  text-align: center;
  background-color: var(--primary-color);
  font-size: var(--primary-font-size);
  color: var(--secondary-color);
}

.App-header {
  
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


button {
  background: transparent;
  border: 2px solid var(--secondary-color);
  padding: 0.5em 1em;
  font-size: 1em;
  color: var(--secondary-color);
}

::placeholder {
  font-size: var(--secondary-font-size);
  color: var(--secondary-color)}

.selected-category {
  font-weight: 700
}

input {
  width: 25%;
  padding: 10px 0;
  background: none;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: var(--secondary-font-size); 
  outline: none;
}

.definitions li {
  display: inline;
}
.definitions li + li {
  margin-left: 1.5em;
}

